.root {
    -fx-background-color: #ead6cb;
}

*{
    -fx-background-color: #ead6cd;
}

.button {
    -fx-background-color: #ff6600;
    -fx-text-fill: #1a1a1a;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: #1a1a1a;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-field {
    -fx-border-radius: 15px;
}

.button:hover {
    -fx-background-color: #9b3700;
    -fx-cursor: hand;
}


.button:pressed {
    -fx-background-color: #ff6f00;
    -fx-border-color: white;
}
