/* Fondo principal del AnchorPane */
.root {
    -fx-background-color: white; /* Color principal */
}

/* Botones */
.button {
    -fx-background-color: orange; /* Color secundario */
    -fx-text-fill: black; /* Color terciario */
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* Botón al pasar el ratón */
.button:hover {
    -fx-background-color: #e67e22; /* Naranja más oscuro */
    -fx-cursor: hand;
}

/* Botón al hacer clic */
.button:pressed {
    -fx-background-color: #d35400; /* Naranja más oscuro aún */
    -fx-border-color: white; /* Cambio para dar efecto visual */
}
